

.HomeDiv{
    width:100%;
    margin:0;   
}
.Savory{
    color :#FD4C2A;
    
}
.absolute {
  z-index: 50; /* Assure que le menu est visible */
}
h1{
    padding-top: 130px;
    padding-left:160px;
    font-size:50px;
}
.Delivered{
    padding-left :190px;
    
}
.adtext{
    padding-left:150px;
    padding-top:50px;
    font-size:20px;
}
.adtext1{
    padding-top: -10px;
    width: 100%;
    max-width: 80%;
    padding-left:160px;
    margin:0;
    padding-top:0;
}
.adtext2{
    width:80%;
    max-width:80%;
    padding-left:160px;
    margin:0;
    margin-top:0;
}
.explore{
    background-color:#FD4C2A;
    color : white;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom :10px;
    margin-left : 200px;
    margin-top:20px;
    border : none;
    border-radius:25px;
    width:180px;
}
#h2content{
    padding-top:390px;
    color : #FD4C2A;
    padding-left:700px;
    font-weight: bold !important;
    font-size: 2rem;
}

.pic1234{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px; /* Space between images */
    padding-top:30px;
    
}
#imageItem{
    min-width: 286px;
    height:350px;
    flex-direction: column;
}
#imageItem img {
    width: 100%;
    height: 100%;
    border-radius:25px;
    object-fit: cover; /* Empêche la déformation et garde une belle apparence */
}
#nameImg{
    margin-left:20px;
    font-size:20px;
}
#imageContent{
    display:flex;
    gap: 60px;
    width: 100vw;
    max-width: 786px;
    padding-left:100px;
    height:332px; 
    padding-top:30px;
    position:relative;
    z-index:1;
}
#discountBadge{
    padding:3px;
    margin-left:252px;
    position:absolute;
    background-color:#FD4C2A;
    border-radius:5px;
}
#oldPrice{
    padding-left:0;
    color:#6B7280;
    text-decoration:line-through;
}
#PriceContainer{
    margin-left:20px;
    display:flex;
    position:absolute;
}
#Add{
    border:2px solid #FD4C2A;
    color:#FD4C2A;
    width:30px;
    border-radius:50%;
    font-weight:bold;
    
}
#AddToCart{
    padding-left:230px;
}

.BurgerFastFood{
    position:absolute;
    padding:10px 10px;
    width:100%;
    height:100%;
    top:10px;
    left:20px;
    z-index:10;
    font-weight:bold;
    border: 2px solid red;
    align-items: center;
  justify-content: center;
}

.backgroundimg1{
    width:900px;
    height:700px;
    margin-left:-300px;
    margin-top:-280px;
    display: block;
    position: absolute; /* Pour placer l'image derrière le texte */
    filter: blur(3px);
}
.divcontent{
    position: relative;
    z-index:1;
    padding-left:200px;
}
.backgroundimg2{
    width:700px;
    height:700px;
    position: block;
    margin-left:1000px;
    margin-top:-380px;
    position : absolute;
    filter: blur(3px);
}
.backgroundimg3{
    width:700px;
    margin-left:-280px;
    filter: blur(3px);
    display :flex;
    position: absolute;
    padding-top:110px;
}
#h2content3{
    padding-top:390px;
    color : #FD4C2A;
    padding-left:600px;
    font-weight: bold !important;
    font-size: 2rem;
}
.backgroundimg4{
    width:700px;
    height:1300px;
    margin-left:-240px;
    margin-top:-500px;
    display:flex;
    position: absolute;
    filter: blur(3px);
}
.backgroundimg5{
    width: 350px;
    margin-top:350px;
    margin-left:1320px;
    display:flex;
    z-index:1;
    filter: blur(3px);
}
.pic9101112{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px; /* Space between images */
    padding-top:90px;
    
}
.pic9{
    width: 250px;
    height: 300px;
    border-radius: 20px; 
    display:relative;
    z-index:1;
}
.pic10{
    width: 250px;
    height: 300px;
    border-radius: 20px;
}
.pic11{
    width: 250px;
    height: 300px;
    border-radius: 20px;
}
.pic12{
    width: 250px;
    height: 300px;
    border-radius: 20px;
}
.Section3{
    padding-bottom:120px;
    margin-left:30px;
    margin-right:30px;
}
.Section4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left:110px;
    margin-right:100px;
}

#h2content1 {
    font-weight: bold !important;
    color: #FD4C2A;
    font-size: 2rem;
    margin-bottom: 20px;
}

#imageContent1 {
    display: flex;
    flex-wrap: wrap; /* Permet de créer plusieurs lignes */
    width: 100%;
    max-width: 1500px;
    height:450px;
    position:relative;
    z-index:1; 
    gap : 50px;
}

#imageItem1 {
    width: 286px;
    height:432px;
    display: flex;
    flex-direction: column;
}

#imageItem1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
#nameImg1 {
    font-size: 20px;
    margin-top: 5px;
}
#discountBadge1{
    padding:3px;
    margin-left:252px;
    position:absolute;
    background-color:#FD4C2A;
    border-radius:5px;
}

#PriceContainer1 {
    display: flex;
}
#oldPrice1{
    padding-left:0;
    color:#6B7280;
    text-decoration:line-through;
}
.PriceContainer{
    margin-left:-30px;
    display:flex;
    position:absolute;
}
#Add1{
    border:2px solid #FD4C2A;
    color:#FD4C2A;
    width:30px;
    border-radius:50%;
    font-weight:bold;
    
}
#AddToCart1{
    padding-left:230px;
}
.backgroundimg6{
    padding-top:60px;
    height:500px;
    margin-left:1200px;
    filter : blur(3px);
    position:absolute;
    z-index: 1;
    
}
.Section5{
    padding-top:100px; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    position: relative; 
    z-index: 10;
}
#h2content2{
    font-size: 2rem;
    font-weight: bold !important; 
    color: #DC2626; 
    margin-bottom: 1.5rem;
    margin-left:100px;
}
.Section6{
    padding-top:200px;
    padding-bottom:300px;
    padding-left:110px;
    position: relative; 
    z-index: 10; 
}
#h2content4{
    font-size: 2rem; 
    font-weight: bold !important; 
    color:black;
}
.isOpenState {
    padding: 16px; /* Padding */
    cursor: pointer; /* Make it clickable */
    transition: all 0.3s ease-in-out; /* Smooth transition */
}
.VisiblePart{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.contentVisibility{
    margin-top: 0.75rem;
    color: #FD4C2A;
}
.fleche {
    color: #6B7280;
    transition: transform 0.3s ease-in-out;
}
.rotate-180 {
    transform: rotate(180deg);
}
.rotate-0 {
    transform: rotate(0deg);
}
.drop1{
    margin-left:660px;
    border: 1px dashed black;
    width : 500px;
   
}
.drop2,.drop3{
    margin-left:660px;
    border: 1px dashed black;
    margin-top: 5px;
    width : 500px;
    
}
.drop4{
    margin-left:660px;
    border: 1px dashed black;
    margin-top: 5px;
    width : 500px;
    margin-bottom:15px;
    
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .dropdowns {
    display: grid;
    z-index:1;
    position:absolute;
    gap: 20px;
  }
.AskQuestion{
    background-color:#FD4C2A;
    border:none;
    width:200px;
    height:50px;
    border-radius:25px;
    color:white;
    grid-column: 1 / -1;
    margin-top:50px;

}





 .fotterPage{
    padding-top:300px;
    align-items: center;
    display:grid;
    background-color:#49140a;
    width:100vw;
    height:650px;
    position :absolute;
    left:0;
    right:0;
    justify-items:center;
} 


.titleLink {
    font-size: 1.125rem; /* text-lg (18px) */
    color: white; /* text-gray-900 */
    font-weight: 500; /* font-medium */
    margin-bottom: 1.75rem;
}
.fotterPageContent{
    display: flex;
    font-size:30px;
}
.links{
    padding-left:100px;
}
.link{
    color: #4B5563; /* text-gray-600 */
}

.link:hover {
    color: #1F2937; /* hover:text-gray-900 */
}
.final_part{
    width:100%;
    height:0px;
    border: 1px solid #D7D2D0;
    display:absolute;
}
.copyright{
    color:rgb(3, 3, 3);
    padding-left:700px;
}
body {
    font-family: 'Oxygen';
}