.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #1e1e2f;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  transform: none;
  z-index: 1000;
}
body{
  margin-left: 15%;
}

.SIDE {
  font-size: 24px;
  margin: 5%;
  cursor: pointer;
  z-index: 1100;
  position: fixed;
  top: -5%;
  left: -3%;
  color: black;
}

.sidebar-line {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3% 16%;
  color: #FD4C2A;
  text-decoration: none;
  font-size: 20px;
}

.icon {
  font-size: 30px;
}
#idSidebar-line{
  padding-top:20%;
}
.sidebar-line:hover {
  color: white;
}
.profile-icon{
  padding-top:80%;
  padding-left:15px;
  cursor: pointer;
}
.dropdown-menu{
  position: absolute;
  top: 83%;
  left:17%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 10;
  border:1px #FD4C2A solid;
}
.LogoutButton{
  padding: 10px 20px;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color:#FD4C2A;
}
.logo{
  width:100px;
  height:auto;
}
