.sidebar {
  width: 20%;
  height: 100%;
  background-color: #1e1e2f;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.SIDE {
  font-size: 24px;
  margin: 5%;
  cursor: pointer;
  z-index: 1100;
  position: fixed;
  top: -5%;
  left: -3%;
  color: black;
}

.sidebar-line {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3% 16%;
  color: #FD4C2A;
  text-decoration: none;
  font-size: 20px;
}

.icon {
  font-size: 30px;
}
#idSidebar-line{
  padding-top:20%;
}
.sidebar-line:hover {
  color: white;
}
.profile-icon{
  padding-top:64%;
  padding-left:10px;
}


